<h1>Dashboard</h1>

<div id="dashboardTablePartial"></div>

<button type="button" class="btn btn-primary" id="addProjectBtn">Add Project</button>

<div id="projectPartial"></div>

@section Scripts
{
<script src="~/js/Dashboard/Dashboard.js"></script>
}