@using ProjectTracker.Models.Dashboard.ViewModels;
@using ProjectTracker.Models.Project.Models;

@model DashboardViewModel;

<h1>Dashboard</h1>
<table class="table table-dark table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Project</th>
            <th scope="col">Status</th>
            <th scope="col">Stage</th>
            <th scope="col">Comments</th>
        </tr>
    </thead>

    <tbody>
        @foreach (ProjectModel project in Model.Projects)
        {
            <tr>
                <td scope="row">@project.Name</td>
                <td>@project.Status</td>
                <td>@project.Stage</td>
                <td>@project.Comments</td>
            </tr>
        }
    </tbody>
</table>