<h1>Dashboard</h1>
<table class="table table-dark table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Project</th>
            <th scope="col">Status</th>
            <th scope="col">Stage</th>
            <th scope="col">Comments</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td scope="row">University of North Florida</td>
            <td>Needs Work</td>
            <td>Alpha</td>
            <td>Got a lot to do</td>
        </tr>
    </tbody>
</table>